
<% if notes&.any? %>
  <% notes.each do |note| %>
    <div class="card shadow-sm mb-3 bg-white rounded">
      <div class="card-header d-flex align-items-center">
        <div class="px-0">
          <a href="<%= user_path(note.user) %>"><%= note.user.nickname %><%= '(あなた)' if note.user == current_user %></a>さん
          <%= note.date_of_note %>
        </div>
        <div class="ml-auto text-right">
          <% if !current_user.favoriting?(note) %>
            <%= link_to "☆", favorites_path(note_id: note.id), method: :post, class: 'btn btn-sm btn-light' %>
          <% else %>
            <%= link_to "★", favorite_path(note.favorites.find_by(user_id: current_user.id)), method: :delete, class: 'btn btn-sm btn-light' %>
          <% end %>
        </div>
      </div>

      <div class="card-body">
        <div class="card-text"><%= simple_format(note.content) %></div>

        <div class="mt-3 d-flex align-items-center">
          <div class="px-0">
            <% if note.user != current_user && !current_user.liking?(note) %>
              <%= link_to likes_path(note_id: note.id), method: :post, class: 'btn btn-sm btn-secondary' do %>
                <i class="far fa-thumbs-up"></i> いいね！
              <% end %>
            <% elsif note.likes.any? %>
              <i class="far fa-thumbs-up"></i> いいね！
            <% end %>

            <%= "x #{note.likes.size}" if note.likes.any? %>

          </div>
  
          <div class="ml-auto text-right">
            <% if note.user == current_user || edit_othernotes? %>
              <%= link_to edit_note_path(note), class: 'btn btn-sm btn-light' do %>
                <i class="fas fa-edit"></i> 編集する
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>

<% else %>
    <div class="alert alert-warning">表示できるノートがありません。</div>
<% end %>
