<div class="shadow-sm rounded p-5 bgj-white">

    <img class="img-fluid mx-auto rounded d-block" src="<%= gravatar_url(@user, { size: 200 }) %>" alt=""> 

    <div class="text-center"><small>
      <div>ユーザー登録日： <%= @user.created_at.strftime("%Y-%m-%d %H:%M:%S") %></div>
      <span class="text-danger"><%= '[未承認ユーザー]' if !@user.member %></span>
      <span><%= '[教室代表]' if @user.manager %></span>
      <span><%= '[管理者]' if @user.admin && @current_user.admin %></span>
    </small></div>

    <p>
      <div>名前/name</div>
      <div class="px-3"><%= simple_format(@user.name) %></div>
  
      <div>ニックネーム/Nickname</div>
      <div class="px-3"><%= simple_format(@user.nickname) %></div>
  
      <div>Eメール/Email</div>
      <div class="px-3"><%= simple_format(@user.email) %></div>
  
      <div>お住（す）まいの地域（ちいき）/Area of Residence</div>
      <div class="px-3"><%= simple_format(@user.area_of_residence) %></div>
  
      <div>日本語を学ぶ目的（もくてき）、動機（どうき）、目標（もくひょう）など<br /> / Purpose, reasons, or goal of learning</div>
      <div class="px-3"><%= simple_format(@user.purpose) %></div>
    </p>

    <hr />

    <p>
      <div class="mt-3"><%= link_to 'ノートを見る', notes_user_path %></div>
      <% if view_attendedlessons? || @user == current_user %>
        <div class="mt-3"><%= link_to 'これまでに出席した教室を見る', attended_user_path %></div>
      <% end %>
      <% if view_lessons? && @user.manager %>
        <div class="mt-3"><%= link_to '開催教室を見る', lessons_user_path %></div>
      <% end %>
    </p>

    <hr />

    <p>
      <% if view_lessons? && @following_managers.any? %>
        <div class="mt-3">フォロー中の教室代表</div>
        <div class="px-3">
          <% @following_managers.each do |manager| %>
            <%= link_to "#{manager.nickname}さん", manager %><%= ", " if manager != @following_managers.last %>
          <% end %>                        
        </div>
      <% end %>
  
      <% if view_otherusers? && @following_members.any? %>
        <div class="mt-3">フォロー中のメンバー</div>
        <div class="px-3">
          <% @following_members.each do |member| %>
            <%= link_to "#{member.nickname}さん", member %><%= ", " if member != @following_members.last %>
          <% end %>                        
        </div>
      <% end %>
    </p>

</div>

<div class="p-5">
  <% unless current_user == @user %>
    <div class="mt-3">
      <% if current_user.following?(@user) %>
        <%= form_with(model: current_user.relationships.find_by(follow_id: @user.id), local: true, method: :delete)  do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'フォローをやめる/Unfollow', class: 'btn btn-danger btn-block' %>
        <% end %>
      <% else %>
        <%= form_with(model: current_user.relationships.build, local: true) do |f| %>
          <%= hidden_field_tag :follow_id, @user.id %>
          <%= f.submit 'フォローする/Follow', class: 'btn btn-primary btn-block', disabled: !@user.member? %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if add_members? %>
    <div class="mt-3">
      <% if @user.member && !@user.manager && !@user.admin %>
        <%= form_with(model: @user, local: true, method: :put,  data: { confirm: "[確認]本当に非正規ユーザーとしますか？" } )  do |f| %>
          <%= hidden_field_tag :authorized_by_id, '' %>
          <%= hidden_field_tag :member, 'false' %>
          <%= f.submit '非正規ユーザーに戻す', class: 'btn btn-danger btn-block', disabled: @user == current_user %>
        <% end %>
        <small>
          <%= "承認者：#{@authorizer.nickname}　承認日時：#{@user.authorized_at.strftime("%Y-%m-%d %H:%M:%S")}" if @authorizer %>
        </small>
      <% elsif !@user.member %>
        <%= form_with(model: @user, local: true, method: :put,  data: { confirm: "[確認]正規ユーザーとして承認しますか？正規ユーザーはレッスン、他のユーザー、他の人のノートを閲覧できるようになります。" } )  do |f| %>
          <%= hidden_field_tag :authorized_by_id, current_user.id %>
          <%= hidden_field_tag :member, 'true' %>
          <%= f.submit '正規ユーザーとして承認する', class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if (current_user ==  @user) || edit_profiles? %>
    <div class="mt-3">
        <%= link_to "プロフィール・パスワードを編集する/Edit profile", edit_user_path(@user), method: :get, class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>

