
<% if lessons && lessons.any? %>
    <% lessons.each do |lesson| %>
        <div class="card shadow-sm mb-3 bg-white rounded">
            <div class="card-header btn-toolbar">
                <%= lesson.name %> &nbsp; <%= lesson.date_of_lesson %>
                （教室代表：<a href="<%= user_path(lesson.user) %>"><%= lesson.user.nickname %><%= '(あなた)' if current_user.me?(lesson.user) %></a>さん）
            </div>
            <div class="card-body">
                <div class="card-text"><%= simple_format(lesson.remarks) %></div>
                <% if lesson.attendances.size > 0 %>
                    <div class="card-text">
                        <i class="fas fa-walking"></i>
                        <% lesson.attendees.each_with_index do |attendee, count| %>
                            <%= "," if count > 0 %><%= link_to "#{attendee.nickname}", attendee %>さん
                        <% end %>                        
                        合計：<%= "#{lesson.attendances.size}人" %>
                    </div>
                <% end %>

                <div class="btn-toolbar">
                    <div class="btn-group btn-sm">
                        <% if (lesson.user != current_user) && lesson.started_at > Time.zone.now %>
                            <% if !current_user.attending?(lesson) %>
                                <%= link_to "行く！", attendances_path(lesson.attendances.build, lesson_id: lesson.id), method: :post, class: "btn btn-sm btn-primary badge rounded-pill" %>
                            <% else %>
                                <%= link_to "行かない", attendance_path(lesson.attendances.find_by(user_id: current_user.id)), method: :delete, class: "btn btn-sm btn-danger badge rounded-pill" %>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="btn-group btn-sm ml-auto">
                        <% if lesson.user == current_user || edit_lessons? %>
                            <i class="fas fa-edit"></i><%= link_to "編集する", edit_lesson_path(lesson), class: "card-link" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<% end %>
