
<% if lessons&.any? %>
  <% lessons.each do |lesson| %>
    <div class="card shadow-sm mb-3 bg-white rounded">
      <div class="card-header">
        <%= lesson.name %> &nbsp; <%= lesson.date_of_lesson %>
        （教室代表：<a href="<%= user_path(lesson.user) %>"><%= lesson.user.nickname %><%= '(あなた)' if current_user == lesson.user %></a>さん）
      </div>

      <div class="card-body">
        <div class="card-text"><%= simple_format(lesson.remarks) %></div>
        
        <% if lesson.attendances.size > 0 %>
          <div class="border rounded p-3">
            <div><i class="fas fa-walking"></i> .. <%= "#{lesson.attendances.size}" %></div>
            <% lesson.attendees.each_with_index do |attendee, count| %>
              <%= link_to "#{attendee.nickname}", attendee %>さん<%= "," if attendee != lesson.attendees.last %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="card-footer d-flex">
        <div class="px-1">
          <% if (lesson.user != current_user) && lesson.started_at > Time.zone.now %>
            <% if !current_user.attending?(lesson) %>
              <%= link_to attendances_path(lesson_id: lesson.id), method: :post do %>
                <i class="fas fa-walking"></i> <i class="fas fa-toggle-off"></i>
              <% end %>
            <% else %>
              <%= link_to attendance_path(lesson.attendances.find_by(user_id: current_user.id)), method: :delete do %>
                <i class="fas fa-toggle-on"></i> <i class="far fa-sad-tear"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="ml-auto text-right">
          <% if edit_lessons? %>
            <%= link_to edit_lesson_path(lesson) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
        </div>  
      </div>
        
    </div>
  <% end %>
<% else %>
    <div class="alert alert-warning">表示できる教室情報がありません。</div>
<% end %>
