<%= form_with(model: lesson, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :held_on, '実施日時' %>
    <div class="input-group">
      <div class="form-group">
        <%= f.label :started_at, '開始' %>
        <%= f.datetime_local_field :started_at, class: 'form-control', min: min(@lesson.started_at).strftime('%Y-%m-%d %H:%M'), required: true, disabled: @disabled %>
      </div>
      <div class="form-group">
        <%= f.label :ended_at, '終了' %>
        <%= f.time_field :ended_at, class: 'form-control', required: true, min: (min(@lesson.started_at) + 1.minutes).strftime('%H:%M'), disabled: @disabled %>
      </div>
      <small>遡った日時を指定することはできません。</small>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, '教室名' %>
    <%= f.text_field :name, class: 'form-control', required: true, disabled: @disabled %>
  </div>
  <div class="form-group">
    <%= f.label :remarks, '連絡事項（１００文字まで）' %>
    <%= f.text_area :remarks, class: 'form-control', rows: 5, disabled: @disabled %>
  </div>


  <% if lesson.created_at.nil? %>
    <%= f.submit 'この教室情報を作成する/Post this lesson', class: 'btn btn-primary btn-block' %>
  <% else %>
    <div class="form-group">
      <%= f.label :user_id, '教室代表' %>
      <%= f.select :user_id, @managers, {}, {class: 'form-control', disabled: @disabled} %>
    </div>
    <%= f.submit 'この教室情報を更新する/Update this lesson', class: 'btn btn-primary btn-block', disabled: @disabled %>
  <% end %>

<% end %>

