<%= render 'layouts/error_messages', model: @lesson %>

<div class="row shadow mt-5 bg-white rounded">
  <div class="col-sm-8 p-4">

    <%= render 'lesson_form', lesson: @lesson %>

    <div class="mt-3">
      <%= form_with(model: @lesson, local: true, method: :put) do |f| %>
        <%= f.submit 'この教室情報を複製する', class: 'btn btn-primary btn-block' %>
        <%= hidden_field_tag :create_duplication, true %>
      <% end %>
    </div>
    <div class="mt-3">
      <%= form_with(model: @lesson, local: true, method: :delete, data: { confirm: "[確認]教室情報を削除します。この操作は元に戻せません。よろしいですか。" }) do |f| %>
        <%= f.submit 'この教室情報を削除する', class: 'btn btn-danger btn-block', disabled: @disabled %>
        <small class="">参加登録されている場合は削除できません。</small>
      <% end %>
    </div>

  </div>
  <div class="col-sm-4 p-4">
    <p class="fs-1">
      出席者の削除・追加
    </p>
    <p class="fs-5">
      ここでの操作は教室の開催後に実際の出欠状況に応じて行ってください。
    </p>
    <div class="">
      <div class=""><%= "#{@lesson.attendances.count}人" %></div>
      <% @lesson.attendees.each do |attendee| %>
      <div><i class="fas fa-walking"></i> <%= link_to "#{attendee.nickname}さん", attendee %>
          <%= link_to "[削除]", attendance_path(@lesson.attendances.find_by(user_id: attendee.id)), method: :delete unless @disabled %></div>
      <% end %>
    </div>
    <div class="form-group mt-5">

    <%= form_with(model: @attendance, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :user_id, '追加する出席者を選択' %>
        <%= f.select :user_id, @attendees, {}, {class: 'form-control', disabled: @disabled} %>
      </div>
      <%= f.hidden_field :lesson_id, value: @lesson.id %>
      <%= f.submit '出席者を追加', class: 'btn btn-primary btn-sm btn-block', disabled: @disabled %>
    <% end %>
    </div>

  </div>
</div>
