<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="<%= dashboard_path %>/"><i class="far fa-thumbs-up"></i>Japady</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">ノート/notes</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to '自分のノート/My notes', notes_user_path(current_user) %></li>
              <% if view_othernotes?  %>
              <li class="dropdown-item"><%= link_to '全ノート/All notes ', notes_path %></li>
              <% end %>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '新規作成', new_note_path %></li>
            </ul>
          </li>

          <% if view_lessons?  %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">教室/lessons</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to '予定されている教室/coming lessons', coming_lessons_path %></li>
              <% if view_lessons? && !edit_lessons? %>
                <li class="dropdown-item"><%= link_to '出席した教室/attended lessons', attended_user_path(current_user) %></li>
              <% elsif edit_lessons? %>
                <li class="dropdown-item"><%= link_to '開催する（した）教室/hosting lessons', lessons_user_path(current_user) %></li>
              <% end %>
              <li class="dropdown-item"><%= link_to 'すべての教室/all lessons', lessons_path %></li>
              <% if edit_lessons? %>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item"><%= link_to '新規作成', new_lesson_path, method: :get %></li>
                <% end %>
            </ul>
          </li>
          <% end %>

          <% if view_otherusers? %>
          <li class="nav-item">
              <a class="nav-link" href="<%= users_path %>">メンバー一覧/Member List</a>
          </li>
          <% end %>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'このサイトについて', about_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'プロフィール', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </li>
    
      </ul>
    </div>
  </nav>
</header>