<!DOCTYPE html>
<html  lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Japady - Share your learnings and emotions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f49b204f87.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="app">
      
      <% if logged_in? %>
        <%= render 'layouts/navbar' %>
        <%= render 'layouts/flash_messages' %>
        <div class="container pb-5">
          <div class="row">
              <aside class="col-sm-3">
                <%= render 'layouts/sidebar' %>
              </aside>
              <div class="col-sm-9">
                <% if @title %>
                  <h3 class="bg-light mb-4"><%= @title %></h3>
                  <% end %>
                <%= yield %>
              </div>
          </div>
        </div>

      <% else  %>
        <%= render 'layouts/flash_messages' %>
        <div class="container pt-5">
          <%= yield %>
        </div>

      <% end  %>

      <footer>
        <div class="text-light text-center"><small><a href="<%= root_url %>" class="text-light"><i class="far fa-thumbs-up"></i>Japady</a> / 2021</small></div>
      </footer>

    </div>
  </body>
</html>